.page-header__block {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    z-index: 100;    
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
}

.page-header__right-block{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.page-header__logo {
    width: 56px;
    height: 50px;
    letter-spacing: 0;
    line-height: 0;
} 

.page-header__text {
    color: #000000;
    display: block;
    font-size: 45px;
    
    font-family: "Open Sans", Regular;
}
.page-header__text2 {
    color: #797171;
    display: block;
    font-size: 45px; 
    font-family: "Open Sans", Light;
}
.page-header__text3 {
    color: #000000;
    display: block;
    font-size: 45px;
    font-family: "Open Sans", Regular;
}

.page-header__container {
    position: relative;
    display: flex;
    margin-top: 30px;
    z-index: 1;
}

.page-header__nav {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.page-header__nav-link {
    color: #000000;
    margin: 0 20px;
    font-size: 20px;      
    text-decoration: none;
    transition: color 0.2s;
}

.page-header__left-block {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-header__btns {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 14px 40px;
    text-decoration: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background: linear-gradient(45deg, #9021AC, #C8459F);
    color: #ffffff;
}

.page-header__btns:hover{
    color: #ffffff;
}

@media (max-width: 900px) {
    .page-header__block{
        padding-left: 24px;
        padding-right: 14px;
    }
    .page-header__text{
        display: none;
    }
    .page-header__text2{
        display: none;
    }
    .page-header__text3{
        display: none;
    }
}

@media (max-width: 599px) {
    .page-header__block{
        padding-left: 24px;
        padding-right: 14px;
        height: 50px;
    }
    .page-header__line{
        display: none;
    }
    .page-header__nav-link{
        font-size: 12px; 
    }
}